/* font */
body, div, span, p, a, li {
	font-family: "Microsoft YaHei", helvetica, arial;
	font-size: 1em;
	font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Microsoft YaHei", helvetica, arial;
	font-weight: normal;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.17em;
}

h4 {
	font-size: 1em;
}

h5 {
	font-size: 0.83em;
}

h6 {
	font-size: 0.75em;
}

div#header-caption {
	font-size: 3em;
	font-weight: bold;
}

a.header-link {
	text-align: center;
	font-weight: bold;
}

p.date {
	text-align: right;
}

/* color */
body {
	color: #000000;
	background-color: #ffffff;
}

div, span, h1, h2, h3, h4, h5, h6, p, a, li {
	color: #000000;
	background-color: transparent;
}

div#header, div#footer {
	background-color: #141414;
}

div#header-caption {
	color: #ffffff;
}

a#current-header-link {
	color: #ffffff;
	background-color: #000000;
}

a.header-link:link, a.header-link:visited {
	color: #ffffff;
	background-color: transparent;
}

a.header-link:hover, a.header-link:active {
	color: #ffffff;
	background-color: #333333;
}

a.header-link {
	transition: background-color, 750ms;
}

p.date {
	color: #555555;
}

/* a */
a {
	text-decoration: none;
}

/* layout */
html {
	min-width: 940px;
}

body, div, span, h1, h2, h3, h4, h5, h6, p, a, ul, li {
	margin: 0px;
	border: 0px;
	padding: 0px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix {
	zoom: 1;
}

div#header {
	width: auto;
	height: 250px;
}

div#footer {
	width: auto;
	height: 100px;
}

div#body {
	min-height: 610px;
	margin-right: 310px;
	padding: 20px;
}

div#aside {
	float: right;
	width: 300px;
	height: 600px;
	padding: 20px;
}

div#header-caption {
	height: 120px;
	padding-left: 20px;
	padding-top: 30px;
}

div#header-links {
	height: 70px;
	padding-top: 30px;
	padding-right: 50px;
} 

div#header-links ul {
	width: 840px;
	height: 50px;
	float: right;
	list-style-type: none;
}

div#header-links ul li {
	width: 200px;
	height: 50px;
	float: right;
	margin-right: 10px;
}

a.header-link {
	display: block;
	width: 200px;
	height: 30px;
	padding-top: 13px;
	padding-bottom: 7px;
	border-radius: 5px;
}

div.session {
	border: 1px solid #dddddd;
	border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
}

img.photo {
	float:left;
	width:384px;
	height:240px;
	margin:0px;
	padding:0px;
	padding-right:6px;
}

