/* font */
body, div, span, p, a, li {
	font-family: "Microsoft YaHei", helvetica, arial;
	font-size: 1em;
	font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Microsoft YaHei", helvetica, arial;
	font-weight: normal;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.17em;
}

h4 {
	font-size: 1em;
}

h5 {
	font-size: 0.83em;
}

h6 {
	font-size: 0.75em;
}

div#header-caption {
	font-size: 3em;
	font-weight: bold;
}

div#image-caption {
	font-weight: bold;
	font-size: 2.5em;
}

a.remark-link {
	text-align: center;
	font-weight: bold;
}

p.date {
	font-size: 0.83em;
}

/* color */
body {
	color: #000000;
	background-color: #ffffff;
}

div, span, h1, h2, h3, h4, h5, h6, p, a, li {
	color: #000000;
	background-color: transparent;
}

div#header {
	background-color: #141414;
}

div#header-caption {
	color: #ffffff;
}

div#image-caption {
	background-color: #000000;
	color: #ffffff;
	filter:Alpha(opacity=50);
	opacity: 0.5;
	overflow: hidden;
}

a#gotoPreviousNews, a#gotoNextNews {
	overflow: hidden;
	transition: filter, 300ms;
	transition: opacity, 300ms;
}

a#gotoPreviousNews:link, a#gotoPreviousNews:visited, a#gotoNextNews:link, a#gotoNextNews:visited {
	filter:Alpha(opacity=50);
	opacity: 0.5;
}

a#gotoPreviousNews:hover, a#gotoPreviousNews:active, a#gotoNextNews:hover, a#gotoNextNews:active {
	filter:Alpha(opacity=100);
	opacity: 1;
}

a.remark-link:link, a.remark-link:visited {
	color: #ffffff;
	background-color: #141414;
}

a.remark-link:hover, a.remark-link:active {
	color: #ffffff;
	background-color: #333333;
}

a.remark-link {
	transition: background-color, 750ms;
}

p.date {
	color: #555555;
}

/* a */
a {
	text-decoration: none;
}

/* layout */
html {
	min-width: 1300px;
}

body, div, span, h1, h2, h3, h4, h5, h6, p, a, ul, li {
	margin: 0px;
	border: 0px;
	padding: 0px;
}

div#header {
	width: auto;
	height: 150px;
}

div#body {
	width: 1280px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

div#header-caption {
	height: 120px;
	padding-left: 20px;
	padding-top: 30px;
}

div#remark-session {
	border: 1px solid #dddddd;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
}

div#image-session {
	height: 800px;
	position: relative;
}

div#image-caption {
	width: 1270px;
	height: 50px;
	padding-left: 10px;
	position: absolute;
	top: 750px;
	left: 0px;
	right: 0px;
	Z-index: 1;
}

a#gotoPreviousNews {
	width: 70px;
	height: 70px;
	position: absolute;
	top: 350px;
	left: 0px;
	Z-index: 1;
}

a#gotoNextNews {
	width: 70px;
	height: 70px;
	position: absolute;
	top: 350px;
	right: 0px;
	Z-index: 1;
}

div.remark-div {
	min-height: 132px;
}

img#image {
	width: 1280px;
	height: 800px;
}

img.photo {
	width: 93px;
	height: 130px;
	float: left;
	margin-right: 20px;
	border: 1px solid #dddddd;
}

p.author {
	padding-top: 5px;
}


div#remark-links {
	height: 30px;
} 

div#remark-links ul {
	width: 640px;
	height: 30px;
	float: right;
	list-style-type: none;
}

div#remark-links ul li {
	width: 150px;
	height: 30px;
	float: right;
	margin-left: 10px;
}

a.remark-link {
	display: block;
	width: 150px;
	height: 30px;
	border-radius: 5px;
	padding-top: 5px;
}

