body {
    margin-top: 0px;
    background-image: url(image/background.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center right;
}

div#Body {
    width: 640px;
    height: 480px;
    margin: 0px auto;
    margin-top: 50px;
    position: relative;
    border: 2px solid #888888;
}

div#BackGround {
    width: 640px;
    height: 480px;
    position: absolute;
    transition: background-image 1s;
}

div#character {
    width: 640px;
    height: 480px;
    position: absolute;
    top: 0px;
    left: 0px;
}

div#conversation:before, div#conversation:after, div#characterName:before {
    content: "";
    position: absolute;
    height: 3px;
    left: 0px;
    right: 0px;
    background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6) 5%, rgba(255, 255, 255, 0.6) 95%, rgba(255, 255, 255, 0));
    background-image: -moz-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6) 5%, rgba(255, 255, 255, 0.6) 95%, rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6) 5%, rgba(255, 255, 255, 0.6) 95%, rgba(255, 255, 255, 0));
}

div#conversation:before {
    top: 42px;
}

div#conversation:after {
    bottom: 10px;
}

div#characterName:before {
    right: 500px;
    top: 0px;
    background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6) 10%, rgba(255, 255, 255, 0.6) 90%, rgba(255, 255, 255, 0));
    background-image: -moz-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6) 10%, rgba(255, 255, 255, 0.6) 90%, rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6) 10%, rgba(255, 255, 255, 0.6) 90%, rgba(255, 255, 255, 0));
}

div#conversation, div#characterName {
    positon: relative;
    left: 0px;
    padding: 10px 30px;
    font-family: Ubuntu, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, "Microsoft YaHei", "微软雅黑", "微軟正黑體", "LiHei Pro", "WenQuanYi Micro Hei", "Droid Sans Fallback", "AR PL UMing TW", "新細明體", sans-serif;
    color: white;
}

div#conversationBody {
    position: absolute;
    width: 640px;
    bottom: 0px;
}

div#conversation {
    float: left;
    width: 580px;
    bottom: 0px;
    margin-bottom: 10px;
    font-size: large;
    background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) 5%, rgba(0, 0, 0, 0.6) 95%, rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) 5%, rgba(0, 0, 0, 0.6) 95%, rgba(0, 0, 0, 0));
    background: -o-linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) 5%, rgba(0, 0, 0, 0.6) 95%, rgba(0, 0, 0, 0));
}

div#characterName {
    width: 80px;
    top: 0px;
    font-size: large;
    background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) 20%, rgba(0, 0, 0, 0.6) 80%, rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) 20%, rgba(0, 0, 0, 0.6) 80%, rgba(0, 0, 0, 0));
    background: -o-linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) 20%, rgba(0, 0, 0, 0.6) 80%, rgba(0, 0, 0, 0));
}

ul#listItem {
    list-style: none;
    padding-left: 0px;
}

ul#listItem li{
    padding-left: 15px;
}

ul#listItem li:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.6);
    color: black;
}

div#button {
    width: 94px;
    margin: 5px auto;
}

div#button button.enabled {
    font-family: Ubuntu, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, "Microsoft YaHei", "微软雅黑", "微軟正黑體", "LiHei Pro", "WenQuanYi Micro Hei", "Droid Sans Fallback", "AR PL UMing TW", "新細明體", sans-serif;
    background-color: #B69236;
    color: white;
    border-color: #D5B35D;
    font-size: large;
}

div#button button{
    cursor: default;
    background-color: #807F7F;
    color: #C7C5C1;
    border-top-color: black;
    border-left-color: black;
    border-bottom-color: white;
    border-right-color: white;
    font-family: Ubuntu, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, "Microsoft YaHei", "微软雅黑", "微軟正黑體", "LiHei Pro", "WenQuanYi Micro Hei", "Droid Sans Fallback", "AR PL UMing TW", "新細明體", sans-serif;
    font-size: large;
}

div#button button.enabled:hover {
    cursor: pointer;
    background-color: #FDE19A;
    color: white;
    border-color: #D5B35D;
}

div#button button.enabled:active {
    border-top-color: black;
    border-left-color: black;
    border-bottom-color: white;
    border-right-color: white;
    background-color: #D5B35D;
    color: white;
}

